# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
venv/
.env/
.venv/
env.json

# Build / packaging
build/
dist/
*.egg-info/
serpapi_lambda_package.zip

# AWS / local files
payload.json
response.json
*.log

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Secrets / creds
*.pem
*.key
credentials
aws_credentials
